/* Super Mario colors  */
/* Blue rgba(2,157,230,255), hat red: rgba(203,0,15,255) grey: rgb(130,132,133)*/
/* green:rgba(68,177,52,255), yellow: rgba(254,211,0,255) */

body {
    background-color: lightblue;
   }

.flex-container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    height:50%;
    width:75%;
}

/* copied from w3 schools */
/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
  }
  
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #ddd;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: rgb(130,132,133);
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: rgba(203,0,15,255);
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: rgba(2,157,230,255);
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 25%;
    background: rgb(130,132,133);
    color: #d9d9d9;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }

  #done-button {
  padding-top: 1%;
  }

                              /* these bits are constant on all pages (for the navbars) */

.topnav {
  background-color:blue;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0%;
  padding: 5px;
}
#login {
  float:right;
  color: lightblue;
  text-align: right;
  padding: 10px;
  font-size: 17px;
  }
  

.topnav a {
float: left;
/* display: block; */
color: white;
text-align: left;
padding: 10px;
font-size: 17px;
}

.topnav a:hover {
background-color:blue;
color: lightblue;
}

.topnav a.active {
background-color: blue;
color: lightblue;
}


.navbar {
  background-color: blue;
  overflow: hidden;
  position: fixed;
  height: 50px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding-left:  10%;
  padding-right: 10%;
}

.navbar a {
  float: left;
  display: block;
  color:lightblue;
  text-align: center;
  padding-left: 10px;
  font-size: 17px;
}

.navbar a:hover {
  background-color:blue;
  color: white;
}

.navbar a.active {
  background-color: blue;
  color: white;
}

.navbar .icon {
  display: none;
}

.tooltip .tooltiptext  {
  visibility: hidden;
  width: 120px;
  width: 120px;
  background-color:lightblue;
  color: #F07685 ;
  text-align: center;
  padding: 5px 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Vendor Input  */
h6 {
color: #444B54;
}
/* Vendor Input */
