.container-2 {
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-box-container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
  }

.flex-box-container-2 img {
    box-shadow: 0px 10px 50px rgba(0,0,0.7);
    margin-top: 10px;
}